.container {
	overflow: hidden;
}

.view {
	position: relative;
	width: 100%;
	float: left;
}

.view svg {
	width: 95%;
	//height: 1000px;
	max-height: 750px;
}

.view g {
	display: none;
}

.control {
	//color: rgb(198,199,200);
	color: #607d8b;
}

.controls .control {
	width: 25%;
}

.control i,
span.control,
rect {
	display: none;
}

.view g.active,
.control i.active,
span.show,
g.show,
rect.show {
	display: block;
}

.view g.base {
	display: block;
}

.controls,
.names {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.controls {
    font-size: 2em;
}

.names,
.year {
	font-weight: bold;
}

.year {
	text-align: center;
	width: 50%;
	color: #607d8b;
}

.control i:hover,
span.control:hover {
	//color: #607d8b;
	color: rgb(198,199,200);
	transition: color 0.3s;
	cursor: pointer;
}

.back {
	float: right;
}