body {
	background-color : #5C675D;
}

h1 {
    color: #696969;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

h2 {
	color: #696969;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

h3 {

	color: #696969;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

h4{
	color: #696969;
    font-family: Helvetica;
    font-size: 12px;
    text-align: left;
}

h5 {
	color: #696969;
    font-family: helvetica;
    font-size: 12px;
    text-align: right;
}

h6 {
    color: #696969;
    font-family: Helvetica;
    font-size: 18px;
    text-align: right;
}

#min-time{
	color: #696969;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#max-time{
	color: #696969;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#container {
	width:800px;
	height:1300px; 
	background:#FFFFFF; 
	position: relative; 
	margin: 5px auto; 
	text-align:center;
	border : 10px solid white;
	font-family: Helvetica;
}

#titre {
	width:800px;
	background:#FFFFFF; 
	float:left;
	text-align:center;
	font-family: Helvetica;
	margin-bottom:15px;
}

#sliderplace {
	display:  block;
	width: 40px;
	height: 500px; 
	background: #FFFFFF; 
	float: left;
	text-align:center;
	font-family: Helvetica;
	margin-left: 10px;
	margin-top: 75px;
}

#sliderplace input {
	display:  block;
	width:  40px;
	height: 500px;
	transform: rotate(180deg);
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
}

#Carte { 
	width:240px;
	height:700px;
	float:left;
	background:#FFFFFF;
	border : 1px solid white;
	margin-top : 1px;
	font-family: Helvetica;
}

#Infos { 
	width:330px;
	height: 200px;
	background:#FFFFFF;
	float:left;
	margin-top: 250px;
	z-index:initial;
	margin-bottom:20px;
	margin-left: 160px;
	text-align:right;
	font-family: Helvetica;
}


#Histo_pays {
	width:200x;
	height:220px;
	background:#FFFFFF;
	float:left;
	margin-left : 5px;
	margin-top : 1px;
	font-family: Helvetica;
}

#Histo_continent {
	width:800px;
	height:300px; 
	background:#FFFFFF;
	float:left;
	font-family: Helvetica;
	margin-top:20px;
}


/*Graphe*/
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke:#006221;
  stroke-width: 1px;
} 

rect:hover{
	fill: rgba(218,219,199,0.5);
}

.dot{
	fill: #006221;
}

/*carte*/
/* Mise en forme des entités pays (type de souris, couleur et épaisseur des contours) */ 
    .pays {
        cursor: pointer;
		stroke-width: 0.2px;
		stroke: grey;
		stroke-linecap: round;
    }
 
/* Mise en forme des entités pays au survol (couleur et épaisseur des contours) */  
    .pays:hover {
        stroke: black;
        stroke-width: 3px;
	}

/* Mise en forme des entités pays (type de souris, couleur et épaisseur des contours) */ 	
	.pays_hors_zone {
        cursor: pointer;
		stroke-width: 0.2px;
		stroke: grey;
	}

/* Mise en forme des entités pays au survol (juste un survol possible) */ 	
	.pays_hors_zone:hover {
	}

/* Mise en forme des symboles (opacité, couleur et apaisseur des contours) */ 	
	.circle {
		fill-opacity: .8;
		stroke: white;
		stroke-width: .6px;
	}

/* Mise en forme de ce que contient les infobulles */
	.d3-tip {
	  line-height: 1.7; 						/* Hauteur de ligne */	
	  font-family: helvetica;					/* Police d'écriture */	
	  color: white;								/* Couleur d'écriture */  
	  font-size: 13px;							/* Taille d'écriture */	
	  font-weight: normal;						/* Graisse de la police : normal, bold */
	  padding: 10px;							/* Espacement intérieur = marge entre les bords et la zone d'écriture */	
	  background: rgba(80, 82, 80, 0.6);		/* Couleur de l'arrière plan */	
	  border-radius: 15px;						/* Arrondissement des angles */	
}

