	path {
		stroke:white;
		stroke-width: 1px;
	}

	body {
		font-family: Arial, sans-serif;
	}

	.gui {
		position: fixed;
		top: 500px;
		left: 580px;
	}

	.legend {
		font-size: 12px;
	}

	div.tooltip {
		position: absolute;
		text-align: center;
		width: 150px;
		height: 25px;
		line-height: 25px;
		padding: 2px;
		font-size: 10px;
		background: #FFF;
		filter:alpha(opacity=80);
		-moz-opacity:0.8;
		-webkit-opacity: 0.8;
		opacity: 0.8;
		border: 1px;
		border-radius: 8px;
		pointer-events: none;
	}

	.bar rect {
		stroke: white;
		shape-rendering: crispEdges;
	}

	.bar text {
		fill: white;
		font-size: 12px;
		text-shadow: black 0.1em 0.1em 0.2em;
	}

	.axis path, .axis line {
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}

	.axis text {
		font-family: sans-serif;
		font-size: 12px;
	}